<template>
        <!-- Input Task -->
        <div class="d-flex">
            <input v-model="task" type="text" placeholder="Enter new Task here !" class="form-control form-control-sm">
            <a class="btn btn-primary col-auto" @click="handleClick">
                <fa icon="plus" v-if="editedTask==null" />
                <fa icon="pen" v-if="editedTask!=null" />
                {{ editedTask == null ? 'Add' : 'Edit' }}
            </a>
        </div>

        <!-- List Task -->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(task, index) in tasks" :key="index">
                    <th>T/{{ task.id }}</th>
                    <td>
                        <span :class="{ 'text-decoration-line-through': task.status==='Finished' }">
                            {{ task.task }}
                        </span>
                    </td>
                    <td class="text-center">
                        <span @click="changeStatus(task.id)" style="cursor: pointer" :class="{
                            'text-success': task.status === 'Finished',
                            'text-info': task.status === 'In-Progress',
                            'text-danger': task.status === 'To-Do',
                         }">
                            {{ task.status }}
                        </span>
                    </td>
                    <td class="text-center">
                        <fa icon="edit" class="text-primary" title="Edit Task" @click="editTask(task.id)" style="cursor: pointer" />
                        &nbsp;
                        <fa icon="trash" class="text-danger" title="Remove Task" @click="removeTask(task.id)" style="cursor: pointer" />
                    </td>
                </tr>
            </tbody>
        </table>
</template>

<script>
    import axios from "axios";
    import { mapGetters } from "vuex";

    export default {
        name: "TodoList",
        props: {
            msg: String,
        },
        data(){
            return {
                task: '',
                editedTask: null,
                availableStatuses: ['To-Do', 'In-Progress', 'Finished'],
                tasks: []
            }
        },
        created() {
            this.getTasks();
        },
        computed: {
            ...mapGetters({
                user: 'auth/user'
            })
        },
        methods: {
            getTasks(){
                axios.get('api/task/'+ this.user.id )
                .then( response => {
                    this.tasks = response.data.tasks;
                })
                .catch( error => {
                    console.log( error )
                })
            },
            async handleClick() {
                if (this.task.length === 0) return;

                if (this.editedTask === null) {
                    await axios.post('api/tasks', {
                        "task": this.task,
                        "user_id": this.user.id
                    });

                    this.$notify({
                        type: 'success',
                        text: 'Task added successfully !',
                    });
                } else {
                    await axios.patch('api/tasks/'+this.editedTask, {
                        "task": this.task,
                    })
                    .then( () => {
                        this.editedTask = null;

                        this.$notify({
                            type: 'warn',
                            text: 'Task edited successfully !',
                        });
                    });
                }

                this.getTasks()

                this.task = ''; // Just to clear the input data
            },
            editTask(index){ // To edit Task
                axios.get('api/tasks/'+index)
                .then( response => {
                    this.task = response.data.task
                    this.editedTask = index
                })
                .catch( error => {
                    console.log( error )
                })
            },
            removeTask(index){ // To remove task
                this.$swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    width: '300px'
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios.delete('api/tasks/'+index)
                        .then( () => {
                            this.editedTask = null;

                            this.$notify({ // Notification alert
                                title: 'Deleted',
                                type: 'error',
                                text: 'Your task T/'+ ++index +' has been deleted.!',
                            });

                            this.getTasks()
                        })
                        .catch( error => {
                            console.log( error )
                        })
                    }
                });
            },
            async changeStatus(index) {
                await axios.get('api/tasks/'+index)
                    .then( async resp => {
                        let newIndex = this.availableStatuses.indexOf(resp.data.status);
                        if (++newIndex > 2) newIndex = 0

                        await axios.patch('api/tasks/' + index, {
                            "status": this.availableStatuses[newIndex]
                        })

                        this.getTasks(); // refresh tableau

                        // Notification alert
                        this.$notify({
                            type: 'primary',
                            text: 'Task T/'+ index +' edited successfully !',
                        });
                    })
                    .catch( error => {
                        console.log( error )
                    })
            }
        }
    }
</script>