<template>
    <form @submit.prevent="handleSubmit" class="p-4 pb-5">
        <h1 class="mb-4 text-center">BOCASAY_</h1>
        <h2 class="h3 mb-5 fw-normal text-center">Change password</h2>

        <div class="form-floating">
            <input v-model="old_password" type="password" class="form-control" id="old_password" required>
            <label class="h4" for="password">Current password</label>
        </div>
        <br>
        <div class="form-floating">
            <input v-model="password" type="password" class="form-control" id="password" required>
            <label class="h4" for="password">New password</label>
        </div>
        <br>
        <div class="form-floating">
            <input v-model="password_confirm" type="password" class="form-control" id="password_confirm" required>
            <label class="h4" for="password_confirm">Confirm new password</label>
        </div>
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'ChangePassword',
        data(){
            return {
                old_password: '',
                password: '',
                password_confirm: ''
            }
        },
        methods: {
            async handleSubmit(){
                await axios.post('/api/change', {
                    old_password: this.old_password,
                    password: this.password,
                    password_confirm: this.password_confirm,
                    token: this.$route.params.token
                }).then(
                    res => {
                        this.$notify({ type: "success", text: res.data.message });
                        this.$router.push('/change');
                    }
                ).catch(
                    err => {
                        this.$notify({ type: "error", text: err.message });
                    }
                );

            }
        }
    }
</script>