<template>
    <div class="p-2">
        <template v-if="user">
            <h1 class="text-center">BOCASAY_</h1>
            <h2>To-Do List's <span class="text-primary">{{ user.name }}</span></h2>
            <hr>
            <p class="lead">
                <todo_list />
            </p>
        </template>

        <template v-else>
            <h1>Hello, Master, you're not logging</h1>
        </template>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import todo_list from './Tasks/TodoList'

    export default {
        name: 'Home',
        components: {
            todo_list
        },
        computed: {
            ...mapGetters({
                user: 'auth/user'
            })
        }
    }
</script>