<template>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <router-link class="navbar-brand border-light fs-3" to="/">BOCASAY_</router-link>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item fs-5">
                        <router-link class="nav-link active" aria-current="page" to="/">Home</router-link>
                    </li>
                </ul>
                <div class="d-flex" v-if="!user">
                    <router-link class="btn btn-outline-success me-2" to="/login">Login</router-link>
                    &nbsp;
                    <router-link class="btn btn-success" to="/register">Sign-up</router-link>
                </div>
                <div class="d-flex" v-if="user">
                    <span class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Welcome, {{ user.name }} ( {{ user.email }} )
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><router-link class="dropdown-item" to="/change">Change your password</router-link></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="javascript:void(0)" @click.prevent="handleClick" class="dropdown-item" >Logout</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';

    export default {
        name: 'Navbar',
        methods: {
            handleClick(){
                this.logout().then(() => {
                    this.$router.push('/login');
                    this.$notify({ type: "success", text: "Logged out ! Hope to see you back." });
                })

            },
            ...mapActions({
                logout: 'auth/logout'
            })
        },
        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                user: 'auth/user'
            })
        }
    }
</script>