<template>
    <section class="signup">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form @submit.prevent="handleSubmit" class="register-form" id="register-form">
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" v-model="name" name="name" id="name" placeholder="Your Name"/>
                    </div>
                    <!-- <div class="form-group">
                        <label for="username"><i class="zmdi zmdi-check"></i></label>
                        <input type="text" v-model="username" id="username" placeholder="Your username"/>
                    </div> -->
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" v-model="email" name="email" id="email" placeholder="Your Email"/>
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" v-model="password" name="password" id="password" placeholder="Password"/>
                    </div>
                    <div class="form-group form-button">
                        <button class="form-submit">Register</button>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="images/signup-image.jpg" alt="sing up image"></figure>
                <router-link to="login" class="signup-image-link">I am already member</router-link>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'Register',
        data(){
            return {
                name: '',
                email: '',
                // username: '',
                password: '',
            }
        },
        methods: {
            async handleSubmit() {
                const data = {
                    name: this.name,
                    email: this.email,
                    // username: this.username,
                    password: this.password,
                };
                // link going to backend already define and function correctly
                await axios.post('/api/register', data)
                    .then(
                        res => {
                            this.$store.dispatch('token', res.data.token);
                            this.$store.dispatch('user', res.data.user);

                            this.$notify({ type: "success", text: res.data.message });
                            this.$router.push('/');
                        }
                    ).catch(
                        err => {
                            this.$notify({ type: "success", text: err.message });
                        }
                    );
            }
        }
    }
</script>