<template>
    <div id="app">
        <Navbar />
        <notifications position="top center" />
        <div class="container" style="margin-top: 175px">
            <router-view/>
        </div>
    </div>
</template>

<script>
    import Navbar from "@/components/Navbar";

    export default {
        name: 'App',
        components: {
            Navbar
        }
    }
</script>
